# Build files.
*.js.map
.cache/
build/
dist/
lib/

# Temporary files.
tmp/

# docz files.
.docz/

# Package files.
lerna-debug.log
node_modules/
npm-debug.log
yarn-error.log
packages/*/yarn.lock
coverage/
.nyc_output/

# OS files.
.DS_Store
.idea/
.vscode/

# Editor files
.tern-port


