.@{ThemeDark}{
  --theme-color-primary:#FFF;
  --theme-color-primary-lighten:#EEE; 
  --theme-color-helper:#CCC;
  --theme-color-helper-lighten:#f8f8f8;

  --theme-color-warn:#f77700;
  --theme-color-info:#f8f8f8;
  --theme-color-danger:#ff4242;
  --theme-color-success:#1a2;

  --theme-color-title:#eee;
  --theme-color-title-lighten:#eeeeee80;

  --theme-color-text-primary:#fff;
  --theme-color-text-lighten:#ffffff80;
  --theme-color-text-disabled:#BFBFBF;

  --theme-color-light:#666;
  --theme-color-white:#333;
  background: var(--theme-color-white, #fff);
}
